* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Добавлено для более предсказуемого поведения отступов и размеров */
}

.wrapper{
  width: 90%;
  margin: 0 auto;
}

body {
  color: #f5f5f5;
  background-color: rgb(0, 0, 0);
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 32px; /* Убедитесь, что это значение не слишком велико */
  margin-right: 16px;
}

h1 {
  margin-top: 16px;
  font-size: 48px;
  display: flex;
  justify-content: center;
  margin-left: -50px;
}

.container, .container-p {
  padding: 16px;
  padding-bottom: 32px;
  margin-top: 50px;
  display: flex;
  justify-content: center; /* Центрируем содержимое по горизонтали */
  flex-wrap: wrap;
  border: 10px solid;
  border-radius: 20px;
  border-color: #f5f5f5;
  width: calc(100% - 32px); /* Учитываем отступы */
}

img {
  border-radius: 10px;
  height: auto; /* Изменено на auto для адаптивности */
  max-height: 500px; /* Ограничение максимальной высоты */
  width: 90%; /* Полная ширина для изображений */
  max-width: 400px; /* Ограничение максимальной ширины для изображений */
  transition: 1000ms ease;
  padding-bottom: 16px; /* Уменьшено расстояние между текстом и изображением */
  transition: 1000ms ease;
}

img:hover{
  transform: scale(1.05);
}

.container-text {
  width: 100%; /* Полная ширина для текста */
  font-size: 30px;
  margin-top: 16px; /* Уменьшено расстояние между текстом и изображением */
  text-align: center; /* Центрируем текст */
}

#video {
  justify-content: center;
  margin-bottom: 64px;
}

video {
  width: 100%; /* Полная ширина для видео */ /* Ограничение максимальной ширины для видео */
}

/* Медиа-запросы для адаптивности */
@media (max-width: 1200px) {
  h1 {
    font-size: 36px;
  }

  .container-text {
    font-size: 24px; /* Уменьшение размера шрифта */
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  .container-text {
    font-size: 20px; /* Уменьшение размера шрифта */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  .container-text {
    font-size: 14px; /* Уменьшение размера шрифта */
  }

  img {
    max-height: 300px; /* Ограничение максимальной высоты для мобильных устройств */
  }
}

